<?xml version="1.0"?>
<robot name="hands_one">

  <!-- Palm Mid link -->
  <link name="PalmMid_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://hands_one/meshes/PalmMidBlender.dae" scale="1 1 1"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="1.0"/>
      <inertia
        ixx="0.01" iyy="0.01" izz="0.01"
        ixy="0" ixz="0" iyz="0"/>
    </inertial>

  </link>
  <gazebo reference="PalmMid_link"> 
    <material>Gazebo/Red</material>
  </gazebo>

</robot>


