<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="hands_one_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="IndexMechanism_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['IndexMechanism_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Index_ProximalGearbox_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Index_ProximalGearbox_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Index_Middle_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Index_Middle_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Index_Distal_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Index_Distal_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="LittleMechanism_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['LittleMechanism_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Little_ProximalGearbox_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Little_ProximalGearbox_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Little_Middle_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Little_Middle_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Little_Distal_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Little_Distal_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="MiddleMechanism_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['MiddleMechanism_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Middle_ProximalGearbox_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Middle_ProximalGearbox_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Middle_Middle_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Middle_Middle_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Middle_Distal_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Middle_Distal_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="RingMechanism_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['RingMechanism_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Ring_ProximalGearbox_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Ring_ProximalGearbox_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Ring_Middle_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Ring_Middle_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Ring_Distal_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Ring_Distal_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ThumbMechanism_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ThumbMechanism_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Thumb_ProximalGearbox_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Thumb_ProximalGearbox_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Thumb_Middle_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Thumb_Middle_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Thumb_Distal_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Thumb_Distal_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
